* {
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}
main {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    order:3;
    flex-wrap:nowrap;
}
main article {
    width:100%;
    padding:10px;
    border-bottom:solid 1px grey;
    border:none;
}
main article p {
    padding:1em;
}
main h2 {
    padding-bottom:20px;
}
nav {
    width:100%;
}
header {
    width:100%;
    text-align:center;
}
header h1 {
    padding:20px;
    color:white;
    text-shadow: 0 2px 15px rebeccapurple;
}
header img {
    width:100%;
    max-width:800px;
}

footer {
    padding: 2em;
}
footer h3 {
    text-align:center;
    font-size:45px;
}
footer p {
    margin-left:-1.5em;
    text-align:left;
}
footer li {
    text-align:left;
}